body {
  font-family: 'Cinzel', sans-serif;
  color:#FFF;
  background:url('https://65blogs.com/wp-content/uploads/2015/04/1323846634295-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

li {
  list-style-type: none;
  padding:10px;
}
a {
  text-decoration: none;
  color:rgb(255,239,104);
}

.container {
  max-width:1200px;
  margin:0 auto;
}

.home-container {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.header {
  text-align: center;
  background: url('https://allwatches.com.sg/wp-content/uploads/2017/06/Moon-phases.png');
  background-position: center;
  min-height:245px;
}

.title {
  padding:110px 0 0 0;
  font-size:6em;
  text-shadow:0 0 20px #FFF;
  color:#FFF;
}

.bats {
  width:150px;
}

.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: 1px solid white;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button:hover:enabled {
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}

.begin-button {
  margin-top: 50px;
}

.leagues {
  display:flex;
  justify-content: center;
  font-size:2em;
}

.league {
  padding:30px;
}

.league:hover {
  cursor:pointer;
}

.team-grid {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}

.team-item {
  margin:20px;
  text-align:center;
  width:200px;
}

.logo {
  width: 150px;
}

.schedule-container {
  text-align:center;
}
