body {
  font-family: 'Cinzel', sans-serif;
  color:#FFF;
  background:url('https://65blogs.com/wp-content/uploads/2015/04/1323846634295-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width:1200px;
  margin:0 auto;
}

.home-container {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.header {
  text-align: center;
  background: url('https://allwatches.com.sg/wp-content/uploads/2017/06/Moon-phases.png');
  background-position: center;
  min-height:300px;

}
.title {
  padding:110px 0 0 0;
  font-size:6em;
  text-shadow:0 0 20px #FFF;
  color:#FFF;
}

.button-container {
  text-align:center;
}
.button-container:hover {
  cursor:pointer;
}

.bats {
  width:150px;
}
