body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  color:#FFF;
  background:url('https://65blogs.com/wp-content/uploads/2015/04/1323846634295-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

li {
  padding:8px;
}

a {
  text-decoration: none;
  color:rgb(255,239,104);
}

a:hover {
  cursor:pointer;
}

.container {
  max-width:1200px;
  margin:0 auto;
}

.home-container {
  text-align:center;
  animation-duration: 2s;
  animation-name: slidein;
}

.centered-container {
  text-align: center;
}

.header {
  text-align: center;
  background: url('https://allwatches.com.sg/wp-content/uploads/2017/06/Moon-phases.png');
  background-position: center;
  min-height:245px;
}

.title {
  padding:110px 0 0 0;
  font-size:6em;
  font-family: 'Cinzel', serif;
  text-shadow:0 0 20px #FFF;
  color:#FFF;
}

.home-logo {
  width:150px;
}

.home-description {
  font-size: 2em;
  padding: 15px;
  margin:75px auto 10px auto;
  width:450px;
  color:rgb(255,239,104);
}

/*buttons */
.begin-button {
  color: #000;
  border:1px solid #696969;
  background:#FFF;
  font-size: 16px;
  border-radius: 3px;
  width: 110px;
  text-align: center;
  padding: 8px;
  box-shadow: 0px 5px 100px #FFF;
  display:block;
  margin:0 auto;
}

.begin-button:hover:enabled {
  color:#696969;
  text-decoration: none;
}

.begin-button:active {
  transform: translateY(1px);
}

.moon-button {
  margin:5px auto 50px auto;
  font-size:2em;
  padding: 15px 25px;
  box-shadow: 0 8px #999;
  text-align:center;
  -webkit-animation-name: colorswitch;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  display:block;
  border-radius:15px;
  width:80px;
  color:#FFF;
}

.moon-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.reset-button {
  color:red;
  font-size:1.5em;
  padding:8px;
}

.leagues {
  display:flex;
  justify-content: center;
  font-size:2em;
}

.league {
  padding:30px;
}

.league:hover {
  cursor:pointer;
}

.team-grid, .game-grid {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}

.team-item, .game-item {
  margin:20px;
  text-align:center;
  width:200px;
}

.team-item:hover, .game-item:hover {
  box-shadow: 0px 0px 5px #FFF;
}

.team-select-logo {
  width:150px;
}

.date {
  padding:5px;
  font-size: 1.5em;
}

.gameselect-logo {
  width:75px;
  padding:5px;
}

.gameselect-heading {
  display:flex;
  margin:20px;
}

.gameselect-title {
  font-size:2.5em;
  color:rgb(255,239,104);
  margin:0 auto;
}

.game-item {
  background:rgba(0,0,0,.3);
  border-radius:75%;
}

.selected-game-container {
  display:flex;
  justify-content: space-around;
  align-items:flex-end;
  flex-wrap:wrap;
}

.selectedteam-item {
  text-align: center;
}

.vs {
  font-size:4em;
  color:rgb(255,239,104);
  text-align:center;
}

.game-location {
  text-align: center;
  padding:15px 5px 5px 5px;
  font-size:2em;
}

.game-date {
  text-align:center;
  font-size: 2em;
}

.team-name {
  text-align:center;
  font-size:1.5em;
  color:rgb(255,239,104);
  padding:5px;
}

.team-list {
  width:300px;
  text-align:center;
}

.loading {
  padding:30px;
  text-align:center;
  font-size:2em;
}

.game-container {
  display:flex;
  justify-content: space-around;
  box-shadow: 0px 0px 5px #FFF;
}

.moongame-container {
  box-shadow:none;
}

.game-container-logo {
  width:125px;
}

.moon-info {
  display:flex;
  justify-content: center;
}

.hr {
  width:60%;
}

.no-result {
  width:30%;
  line-height: normal;
  margin:20px;
  color:rgb(255,239,104);
  padding:20px;
  font-size:1.5em;
  order:1;
}

.result-text {
  color:rgb(255,239,104);
  font-size:1.5em;
  width:50%;
  margin:20px auto auto auto;
}

.results-titles {
  font-size:2em;
  padding:10px;
  color:red;
}

.results-item {
  width:350px;
  text-align:center;
}

.moon-image {
  padding-top:10px;
}

.winner {
  order:1;
}

.result-gameinfo {
  padding:5px;
  font-size:1.2em;
}

.result-gameinfo-container {
  box-shadow: 0px 0px 5px #FFF;
  width:500px;
  margin:0 auto;
}

.results-reset {
  margin:20px;
  display:block;
}

@keyframes colorswitch {
  from {
    background-color:rgb(255,239,104);
  }
    5% { background-color: #800000;  }
  to {
    background-color:rgb(255,239,104);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
